<link rel="stylesheet" href="/css/estilo.css">
<main class="mt-5 bak" >

        <section id="quienes-somos" class="section">
            <h2>Quiénes Somos</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum veniam odio, consectetur fugit eveniet reiciendis aliquid totam perspiciatis maiores cum eos in architecto vero placeat a incidunt deserunt fugiat tempore.</p>
        </section>
        <section id="vision" class="section">
            <h2>Visión</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum veniam odio, consectetur fugit eveniet reiciendis aliquid totam perspiciatis maiores cum eos in architecto vero placeat a incidunt deserunt fugiat tempore..</p>
        </section>
        <section id="historia" class="section">
            <h2>Historia</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum veniam odio, consectetur fugit eveniet reiciendis aliquid totam perspiciatis maiores cum eos in architecto vero placeat a incidunt deserunt fugiat tempore.</p>
        </section>
                <div class="container">
            <div class="card mx-auto" style="width:600px;">
                <div class="card-header">
                    <img src="/img/logo.png" alt="" class="card-img-top mx-auto m-2 rounded-circle" style="width:150px ; height:150px;display:block;">
                    <h3 class="text-uppercase text-center p-4"></h3>
                    
                </div>

                <div class="car body text-center">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis veniam laudantium magni officia illum impedit atque quia odio provident! Nulla in officia cupiditate veniam! Explicabo ipsam error nihil exercitationem facere!</p>
                    <a href="" class="btn btn-primary">añadir un super heroe a la lista</a>
                </div>
                
            </div>
        </div>
    </main>
    <footer>
        <p>Derechos de autor &copy; 2024 Mi Sitio Web</p>
    </footer>


        

</main>