<body>
    <div class="quienes-somos">
        <header>
            <h1>Quiénes Somos</h1>
        </header>
        <main>
            <div class="card text-bg-dark" style="margin-bottom: 2rem;">
                <img src="/img/mision.jpg" class="card-img" alt="Imagen de Héroes" style="width:20cm; height:6cm;">
                <div class="card-img-overlay">
                    <h5 class="card-title">Misión</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, iure. Magni, accusantium nemo excepturi nesciunt fugiat recusandae cumque laborum. A illum optio vel dicta veritatis exercitationem officia quibusdam minus mollitia!</p>
                    <p class="card-text"><small>Last updated 3 mins ago</small></p>
                </div>
            </div>

            <div class="card text-bg-dark" style="margin-bottom: 2rem;">
                <img src="/img/vision.avif" class="card-img" alt="Imagen de Héroes" style="width:20cm; height:6cm;">
                <div class="card-img-overlay">
                    <h5 class="card-title">Visión</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, iure. Magni, accusantium nemo excepturi nesciunt fugiat recusandae cumque laborum. A illum optio vel dicta veritatis exercitationem officia quibusdam minus mollitia!</p>
                    <p class="card-text"><small>Last updated 3 mins ago</small></p>
                </div>
            </div>

            <div class="card text-bg-dark" style="margin-bottom: 2rem;">
                <img src="/img/historia.jpg" class="card-img" alt="Imagen de Héroes" style="width:20cm; height:6cm;">
                <div class="card-img-overlay">
                    <h5 class="card-title">Historia</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, iure. Magni, accusantium nemo excepturi nesciunt fugiat recusandae cumque laborum. A illum optio vel dicta veritatis exercitationem officia quibusdam minus mollitia!</p>
                    <p class="card-text"><small>Last updated 3 mins ago</small></p>
                </div>
            </div>
        </main>
        <footer>
            <p>&copy; 2024 Nuestra Empresa. Todos los derechos reservados. </p>
        </footer>
    </div>
</body>
